<!doctype html>
<html>

    <head>
        <title>
            <%=title%>
        </title>
        <% include includes.ejs %>
    </head>

    <body>
        <script type="application/ld+json">
            <%- ld %>
        </script>
    </body>

</html>
